<aside class="sidebar">
    
    <section class="sidebar_panel">
        <div class="sidebar_panel_title">Author</div>
        <!--TODO:ここに私についての記事リンクを設置-->
        <div class="img-center"><a class="author_img_area" href="{{ .Site.BaseURL }}information/introduction/"><img class="author_img" src="{{ .Site.BaseURL }}img/nautilus.jpg" alt="logo"></a></div>
        <p>名前: {{ .Site.Params.Author }}</p>
        <p>一言: {{ .Site.Params.Comments }}</p>
    </section>

    <!--この辺にGitHubのリンクとかTwitterのリンクとか作れば良いかも。-->

    <section>
        <div class="sidebar_panel_title">Search</div>
        <input id="search" class="ui10-text_square_dark" type="text" placeholder="ここにキーワードを入力する">
        <div id="search_notice" class="search_notice"></div>
        <div id="search_result" class="search_result"></div>
    </section>

    <section class="sidebar_panel">
        <div class="sidebar_panel_title">Ad</div>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6442436013540142"
             crossorigin="anonymous"></script>
        <!-- right_sidebar -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-6442436013540142"
             data-ad-slot="3590820755"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </section>

    {{ range $key, $value := .Site.Taxonomies }}
    <section class="sidebar_panel">
        <div class="sidebar_panel_title">{{ $key | singularize | humanize }}</div>
        <!--TODO:ここはinline blockでpaddingを指定してボタン化させるべき-->

        {{ range $value.ByCount }}
        <span class="taxonomies_area sidebar_taxonomies">
            <a class="taxonomies_link sidebar_taxonomies_link" href="{{ $.Site.BaseURL}}{{ $key }}/{{ .Name | urlize }}">{{ .Name }}</a>
        </span>
        {{ end }}
    </section>
    {{ end }}

    <!--TODO:この辺りに今日のシェル芸というコーナーを作る
        特定のディレクトリ内にあるファイルの誤字を全て修正する
        自炊した画像の一括加工など過去コマンドから引っ張り出して紹介。
        コマンドだけでなく、効果も簡潔に解説する。
    -->
    
    <section class="sidebar_panel">
        <div class="sidebar_panel_title">News</div>
        {{ range first 10 .Site.RegularPages }}
        <a class="news_link" href="{{ .Permalink }}">{{ .Title }}</a>
        {{ end }}
    </section>

    {{/*
    <section class="sidebar_panel">
        <div class="sidebar_panel_title">Pickup</div>
        <!--ここのPickUpの値がTrueであれば、表示するようにしたい。-->
        {{ range .Site.RegularPages }}
            {{ if .Title }}
            <a class="news_link" href="{{ .Permalink }}">{{ .Title }}</a>
            {{ end }}
        {{ end }}
    </section>
    */}}

    <section class="sidebar_panel">
        <div class="sidebar_panel_title">Books</div>

        <div class="row">
            <div class="col-6">
                <a href="https://www.amazon.co.jp/dp/481561072X/?tag=m68371ti-22">
                    <div>
                        <img src="https://m.media-amazon.com/images/I/51Y0-P+m94L.jpg" alt="">
                    </div>
                    <div>モダンJavaScriptの基本から始める　React実践の教科書　（最新ReactHooks対応）</div>
                </a>
            </div>
            <div class="col-6">
                <a href="https://www.amazon.co.jp/dp/B09K235CTP/?tag=m68371ti-22">
                    <div>
                        <img src="https://m.media-amazon.com/images/P/B09K235CTP.jpg" alt="">
                    </div>
                    <div>現場で使える Django の教科書《基礎編》［3.2 LTS 対応版］</div>
                </a>
            </div>

        </div>
    </section>









</aside>
