<article class="single">
    <h1 class="article_title">{{ .Title }}</h1>
        
    <div class="article_spacer">

    <ul class="article_status">
        <li>投稿日時：<time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05JST" }}">{{ .Lastmod.Format ( .Site.Params.dateformat | default "2006年1月2日 15時04分") }}</time></li>
        
        {{ $params := .Params }}
        {{ range $key, $value := $.Site.Taxonomies }}
        {{ if isset $params $key }}
        <li class="taxonomies_area">{{ $key | humanize }}：
            {{ range (index $params $key) }}
            <a class="taxonomies_link" href="{{ $.Site.BaseURL }}{{ $key | urlize }}/{{ . | urlize }}/">{{ . }}</a>
            {{ end }}
        </li>
        {{ end }}
        {{ end }}
    </ul>

    {{ with .Params.thumbnail }}<div class="img-center"><img src="{{ $.Site.BaseURL }}{{ . }}" alt="thumbnail"></div>{{ end }}

	<div class="article_body">{{ .Content }}</div>

    <!--
	<footer class="article_footer">
		<header><div class="panel_title">スポンサーリンク</div></header>

        <div>
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<ins class="adsbygoogle"
			     style="display:block"
			     data-ad-client="ca-pub-6442436013540142"
			     data-ad-slot="8863116477"
			     data-ad-format="auto"
			     data-full-width-responsive="true"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>
	</footer>
    -->

	</div>

	<footer class="article_footer">
        {{ range first 1 (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
        {{ $.Scratch.Set "has_related" true }}
        {{ end }}
        {{ if $.Scratch.Get "has_related" }}
        <h2 class="relate_content_title">関連記事</h2>
        {{ $num_to_show := .Site.Params.related_content_limit | default 5 }}
        {{ range first $num_to_show (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
        <a class="relate_link" href="{{ .Permalink | absURL }}">{{ .Title }}<time class="relate_time">{{ .Date.Format "2006年1月2日 15時04分"}}</time></a>
        {{ end }}
        {{ end }}
    </footer>

</article>


<!--TODO:文字が大きすぎる修正必要-->
<nav>
    <ul class="paginator">
        <li class="pg_prev_area">
            {{ if .NextInSection }}
            <a class="pg_prev" href="{{.NextInSection.RelPermalink}}">次の投稿<br><span class="summary_pg">{{ .NextInSection.Title }}</span></a>
            {{ end }}
        </li>
        <li class="pg_next_area">
            {{ if .PrevInSection }}
            <a class="pg_next" href="{{.PrevInSection.RelPermalink}}">前の投稿<br><span class="summary_pg">{{ .PrevInSection.Title }}</span></a>
            {{ end }}
        </li>
    </ul>
</nav>
